body {
  border: 3px solid black;
}

#desktopNav {
  display: flex;
  font-family: system-ui;
  background: #f06d06;
  color: white;
  align-items: left;
  border: 5px solid black;
  justify-content: space-between;}

main {
  display: flex;
  justify-content: space-between;
}
#items {
  display: flex;
  padding-right 25px 50px 75px 100px;
  border: 10px solid red;
  display: flex;
  width: 300px;
  justify-content: space-between;
}

h1 {
  border: 10px solid green;
}

h2 {
  display: flex;
  justify-content: space-between;
}
